<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Angular To Do - GT</title>
    </head>
    <body>
        <div class="container">
            <h1>Services</h1>
            <div
                class="addFlex bgRed"
                *ngFor="let listItem of listItems"
                [ngClass]="listItem.toggle ? 'bgRed' : 'bgGreen'"
                (click)="
                    handleClick(listItem.id, listItem.price, listItem.toggle)
                ">
                <p>{{ listItem.name }}</p>
                <p class="alignLeft">${{ listItem.price.toFixed(2) }}</p>
                <!-- <p>{{ listItem.toggle }}</p> -->
            </div>
            <hr class="styleHr" />
            <div class="addFlex">
                <p><b>Total:</b></p>
                <p class="alignLeft">
                    <b>${{ result.toFixed(2) }}</b>
                </p>
            </div>
        </div>
    </body>
</html>
